<%-include('./parts/header.ejs')%> <%-include('./parts/navbar.ejs')%>
<div class="container mt-3">
  <%if(orders.length === 0){%>
  <p class="alert alert-danger text-center">There is no Products</p>
  <%}%>

  <form action="/admin/orders/<%=email%>" method="get" class="text-center">
    <input
      type="submit"
      name="status"
      value="all"
      class="btn btn-outline-secondary form-control my-3"
      style="width: 20%"
    />
    <input
      type="submit"
      name="status"
      value="pending"
      class="btn btn-outline-secondary form-control my-3"
      style="width: 20%"
    />
    <input
      type="submit"
      name="status"
      value="sent"
      style="width: 20%"
      class="btn btn-outline-secondary form-control my-3"
    />
    <input
      type="submit"
      name="status"
      style="width: 20%"
      value="complete"
      class="btn btn-outline-secondary form-control my-3"
    />
  </form>
  <form action="/admin/orders/email" method="post">
    <div class="input-group mb-3 w-50" style="margin: 0 auto">
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="Search by Email"
      />
      <input
        class="btn btn-outline-secondary px-5 ms-3"
        type="submit"
        value="Search"
      />
    </div>
  </form>
  <table class="table table-dark table-striped text-center">
    <thead>
      <th>Email</th>
      <th>Product Name</th>
      <th>Amount</th>
      <th>Cost</th>
      <th>Address</th>
      <th>Status</th>
      <th>Time</th>
      <th>Action</th>
    </thead>
    <% for( let i = 0; i < orders.length; i++ ) {%>
    <tr>
      <td><%=orders[i].email%></td>
      <td>
        <a href="/product/id/<%=orders[i].productId%>"><%=orders[i].name%></a>
      </td>
      <td><%=orders[i].amount%></td>
      <td><%=orders[i].amount * orders[i].price%> $</td>
      <td><%=orders[i].address%></td>
      <td><%=orders[i].status%></td>
      <td title="<%=orders[i].createdAt%>">
        <%=orders[i].createdAt.getFullYear() + '/'
        +orders[i].createdAt.getMonth()+'/' + orders[i].createdAt.getDate() %>
      </td>
      <td>
        <form method="post">
          <input type="text" value="<%=orders[i]._id%>" hidden name="id" />
          <input
            type="submit"
            class="btn btn-success"
            value="Sent"
            formaction="/admin/status-sent"
          />
          <input
            type="submit"
            value="Complete"
            formaction="/admin/status-complete"
            class="btn btn-success"
          />
        </form>
      </td>
    </tr>
    <%}%> <%if(orders.length !== 0){%>

    <tfoot class="fw-bold">
      <tr>
        <td colspan="2">Total</td>
        <%let totalAmount = 0,totalPrice=0; orders.forEach(element => { %>
        <%totalAmount +=element.amount; totalPrice += (element.price *
        element.amount) }) %>
        <td><%=totalAmount%></td>
        <td><%=totalPrice%> $</td>
        <td colspan="3"></td>
        <form method="post">
          <td></td>
        </form>
      </tr>
    </tfoot>
    <%}%>
  </table>
</div>
<%-include('./parts/footer.ejs')%>
